<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    

    
<!--<script type="text/javascript">
    $(document).ready(function () {
        alert($('table').html( ));
    })
</script>
<script>
        window.jQuery || document.write("<script src='~/Scripts/jquery - 3.7.0.js'><\/script>")
    </script>-->
<!--#region JQuery Button
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#button1").click(function () {
            alert("Button clicked!");
        });
    });
    //#region JavaScript
    ////window.onload = function () {
    ////    if (document.addEventListener) {
    ////        document.getElementById("button1").addEventListener("click", clickHandler, false);
    ////    } else {
    ////        document.getElementById("button1").attachEvent("onclick", clickHandler)
    ////    }
    ////};
    ////function clickHandler() {
    ////    alert("Button clicked!");
    ////}
    //#endregion
</script>
<script type = "text/javascript">
    jQuery(document).ready(function () {
        if ($("#button2").length > 0) {
            alert("Button2 exists on the page.");
        }
        else {
            alert("Button2 does not exist on the page.");
        }
    });
</script>-->
<!--<script src="~/Scripts/jquery-3.7.0.js"></script>-->
<!--<script type="text/javascript">
            $(window).load(function () {
                $('#div1').html("Height = " + $('#img1').height() + "</br>" + "Width = " + $('#img1').width()) ;
            });
            //$(document).ready(function () {
            //    alert('DOM Loaded');
            //});
        </script>-->

</head>
<body style="font-family:Arial">
    <table>
        <tr>
            <td>
                First Name:
            </td>
            <td>
                <input type="text" id="txtFirstName" />
            </td>
        </tr>
        <tr>
            <td>
                Last Name:
            </td>
            <td>
                <input type="text" id="txtLastName" />
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <input type="email" id="txtEmail" />
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" id="txtPassword" />
            </td>
        </tr>
        <tr>
            <td>
                Gender:
            </td>
            <td>
                <select id="selectGender" disabled="disabled">
                    <option value="Male">
                        Male
                    </option>
                    <option value="Female">
                        Female
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Comments
            </td>
            <td>
                <textarea id="txtComments" rows="4" cols="50"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"value="Submit" disabled="disabled" />
            </td>
        </tr>
    </table>
    <!--Country:
    <select id="SelectCountry" name="country" multiple="multiple">
        <option selected="selected" value="USA">USA</option>
        <option value="Canada">Canada</option>
        <option value="Mexico">Mexico</option>
        <option value="UK">UK</option>
        <option value="Germany">Germany</option>
        <option value="France">France</option>

    </select>
    <br/><br />
    <div id="divResult"> </div>-->
    <!--Skills:
    <input type="checkbox" name="skills" value="JavaScript" />
    <label for="option-JavaScript">JavaScript</label>
    <input type="checkbox" name="skills" value="jQuery" />
    <label for="option-jQuery">jQuery</label>
    <input type="checkbox" name="skills" value="Angular" />
    <label for="option-Angular">Angular</label>
    <input type="checkbox" name="skills" value="React" />
    <label for="option-React">React</label>
    <input type="checkbox" name="skills" value="Vue.js" />
    <label for="option-Vue.js">Vue.js</label>
    <br /><br />
    Hobbies:
    <input type="checkbox" name="hobbies" value="Reading" class="alert" />
    <label for="option-Reading">Reading</label>
    <input type="checkbox" name="hobbies" value="Gaming" />
    <label for="option-Gaming">Gaming</label>
    <input type="checkbox" name="hobbies" value="Traveling" />
    <label for="option-Traveling">Traveling</label>
    <input type="checkbox" name="hobbies" value="Cooking" />
    <label for="option-Cookings">Cookings</label>
    <br /><br />
    <input id="btnGetSelectedSkills" type="submit" value="Get selected skills" />
    <input id="btnGetSelectedHobbies" type="submit" value="Get selected hobbies" />
    <br /><br />
    <div id="divskills">

    </div>

    <br />
    <div id="divhobbies">

    </div>-->
    <!--<div title="DivTitle">
        Wow
    </div>
    <br />
    <div title="DIVTITLE">
        amai
    </div>

    <br />
    <div title="divtitle">
        awww
    </div>-->
    <!--<div id="div1"></div>
    <img id="img1" src="~/Images/Black and Blue Online Gaming E-Sport League Match Result MVP Instagram Post.png" />


    <input type="button" id="button1" value="Click Me" onclick ="alert('Button clicked!')" />
    <input type="button" id="button2" value="Click Me Too"/>-->
    <!--<table id="table1" border="1">
        <tr>
            <td>C#</td>
            <td>JavaScript</td>
            <td>jQuery</td>
            <td>Angular</td>
        </tr>
        <tr>
            <td>ASP.NET</td>
            <td>React</td>
            <td>Vue.js</td>
            <td>Vue.js</td>
            <td>Node.js</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>Ruby</td>
            <td>PHP</td>
            <td>Swift</td>
        </tr>
    </table>-->
    <!--<table class="table1" id="courseTable">
        <thead>
            <tr>
                <th>
                    ID
                    <input id="AddId" class="form-control" />
                </th>
                <th>
                    Course
                    <input id="AddCourse" class="form-control" />
                </th>
                <th>
                    Student
                    <input id="AddStudent" class="form-control" />
                </th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button id="AddRow">Add button</button>

            <button class="deletebtn" id="DeleteRow">Delete</button>-->
    <!--<div title="divTitle" style="background-color:red">
         Read
     </div>
    <br/>
    <div title="divTitle" style="background-color:blue">
        Wow
    </div>
    <br/>
    <div title="divTitle">
        Amazing
    </div>
    <br/>
    <div>
        I am Normal
    </div>-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#SelectCountry').change(function () {
                var selectOption = $('#SelectCountry option:selected');
                if (selectOption.length > 0) {
                    var resultString = '';
                    selectOption.each(function () {
                        resultString += 'Value = ' + $(this).val()
                            + ', Text = ' + $(this).text() + "<br/>";
                    });
                    $('#divResult').html(resultString);
                }

            });
        });
        //$('#AddRow').click(function () {
        //    var id = $('#AddId').val();
        //    var course = $('#AddCourse').val();
        //    var student = $('#AddStudent').val();
        //    var newRow = `<tr>
        //    <td>${id}</td>
        //    <td>${course}</td>
        //    <td>${student}</td>`;
        //    $('#courseTable tbody').append(newRow);
        //});
        //$('#DeleteRow').on('click', function () {
        //    $(this).remove();
        //});
        //    $('#btnGetSelectedSkills').click(function () {
        //        getCheckedCheckBoxes();
        //    });
        //    $('.alert').mouse(function){

        //    });

        //    $('#btnGetSelectedHobbies').click(function () {
        //        getCheckedCheckBoxes();

        //    });
        //$('#btnGetSelectedHobbies').foreach(function () {
        //    getCheckedCheckBoxes();

        //});


        //    var getCheckedCheckBoxes = function () {
        //        var result = $('input[type="checkbox"]:checked')
        //        if (result.length > 0) {
        //            var resultString = result.length + "checkbox checked< br /> ";
        //            result.each(function () {
        //                resultString += $(this).val() + "< br /> "
        //            });
        //            $('#divResult').html(resultString);
        //        } else {
        //            $('#divResult').html("No checkbox selected.");
        //        }

        //    };

        //$('div[title]').filter(function () {
        //    return $(this).attr('title').toLowerCase() === 'divtitle';
        //}).css('border', '5px solid black');
        //$('div[title="divTitle"],[style]').css('border', '5px solid black');

    </script>
</body>
</html>
